<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add toAddress="achahal@solarschmiede.de" fromAddress="PVScoutWebServices@solarschmiede.de" subjectLineStarter="" subjectLineEnder="PVScoutWeb" smtpServer="smtp.xxx.xxx" smtpPort="25" formatter="TextFormatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Email TraceListener"/>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" traceOutputOptions="None" filter="All" type="Solar.Utility.Logging.DBTraceListener, Solar.Log.API, Version=1.0.0.0, Culture=neutral" name="ReportTraceListener" initializeData="" formatter="Report"/>
      <add fileName="C:\PvScoutWeb\Solar.PvScoutWeb.Debug.Trace.Log" footer="&lt;br/&gt;----------------------------------------&lt;br/&gt;" formatter="TextFormatter" header="----------------------------------------" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Rolling Flat File Trace Listener"/>
      <add fileName="d:\PvScoutWeb\Solar.PvScoutWeb.Log.XML" footer="&lt;/LogEntry&gt;" formatter="XMLFormatter" header="&lt;LogEntry&gt;" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Rolling XML Trace Listener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="Report"/>
      <add template="Timestamp:  {timestamp(local)}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="TextFormatter"/>
      <add template="&lt;Timestamp&gt; {timestamp(local)}&lt;/Timestamp&gt;
&lt;Message&gt;{message}&lt;/Message&gt;
&lt;Category&gt;{category}&lt;/Category&gt;
&lt;Priority&gt;{priority}&lt;/Priority&gt;
&lt;EventId&gt;{eventid}&lt;/EventId&gt;
&lt;Severity&gt;{severity}&lt;/Severity&gt;
&lt;Title&gt;{title}&lt;/Title&gt;
&lt;Machine&gt;{machine}&lt;/Machine&gt;
&lt;ApplicationDomain&gt;{appDomain}&lt;/ApplicationDomain&gt;
&lt;ProcessId&gt;{processId}&lt;/ProcessId&gt;
&lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;
&lt;Win32ThreadId&gt;{win32ThreadId}&lt;/Win32ThreadId&gt;
&lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;
&lt;ExtendedProperties&gt;{dictionary({key}-{value})}&lt;/ExtendedProperties&gt;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="XMLFormatter"/>
      <add template="{timestamp(local)} Image name: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" name="ImageInformationFormatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Critical">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Email">
        <listeners>
          <add name="Email TraceListener"/>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="Off" name="Information">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Report">
        <listeners>
          <add name="ReportTraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--To be used if sql server is installed-->
    <add name="pvscout" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;database=pvscout" providerName="System.Data.SqlClient"/>
    <!--To be used if sql server is not installed & a mdb file is to be used(change name to pvscout )-->
    <add name="pvscoutLocalFile" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\NewMembershipProvider\App_Data\Members.mdb;Persist Security Info=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
