<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
   defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Affili.ProductImport.WinService.Log" formatter="TextFormatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Formatted EventLog TraceListener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Affilinet.Utility.Logging.DBTraceListener, Affilinet.Utility.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="ReportTraceListener" initializeData="" formatter="Report" />
      <add fileName="d:\AutoExport\Affili.ProductExport.Debug.Trace.Log" footer="&lt;br/&gt;----------------------------------------&lt;br/&gt;"
        formatter="TextFormatter" header="----------------------------------------"
        rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Rolling Flat File Trace Listener" />
      <add fileName="d:\AutoExport\Affili.ProductExport.Log.XML" footer="&lt;/LogEntry&gt;"
        formatter="XMLFormatter" header="&lt;LogEntry&gt;" rollFileExistsBehavior="Increment"
        rollInterval="Midnight" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Rolling XML Trace Listener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Report" />
      <add template="Timestamp:  {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="TextFormatter" />
      <add template="&lt;Timestamp&gt; {timestamp(local)}&lt;/Timestamp&gt;&#xD;&#xA;&lt;Message&gt;{message}&lt;/Message&gt;&#xD;&#xA;&lt;Category&gt;{category}&lt;/Category&gt;&#xD;&#xA;&lt;Priority&gt;{priority}&lt;/Priority&gt;&#xD;&#xA;&lt;EventId&gt;{eventid}&lt;/EventId&gt;&#xD;&#xA;&lt;Severity&gt;{severity}&lt;/Severity&gt;&#xD;&#xA;&lt;Title&gt;{title}&lt;/Title&gt;&#xD;&#xA;&lt;Machine&gt;{machine}&lt;/Machine&gt;&#xD;&#xA;&lt;ApplicationDomain&gt;{appDomain}&lt;/ApplicationDomain&gt;&#xD;&#xA;&lt;ProcessId&gt;{processId}&lt;/ProcessId&gt;&#xD;&#xA;&lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;&#xD;&#xA;&lt;Win32ThreadId&gt;{win32ThreadId}&lt;/Win32ThreadId&gt;&#xD;&#xA;&lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;&#xD;&#xA;&lt;ExtendedProperties&gt;{dictionary({key}-{value})}&lt;/ExtendedProperties&gt;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="XMLFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Critical">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Report">
        <listeners>
          <add name="ReportTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--Dev:ebes06 :: Staging:172.16.51.24 :: Live:172.16.51.20-->
    <!--Currently not in use as 'Cache=MEM'-->
    <add name="LocalCache" connectionString="Data Source=ebes06;Initial Catalog=localCache;Integrated Security=True;User Instance=False"
   providerName="System.Data.SqlClient" />
    <!--This string needs to be changed, once we use SQL as local cache and not the memory-->
    <add name="LocalCacheSSIS" connectionString="Data Source=EBEN99\SQLEXPRESS;Initial Catalog=localCache;Integrated Security=True;User Instance=False;Provider=SQLNCLI.1;"  providerName="" />

    <!--Used to perform logging and report logging entries-->
    <add name="Logging" connectionString="Persist Security Info=False;server=ebes06;database=ProductExportDB;User ID=ProductASP;pwd=psatcudorp;" providerName="System.Data.SqlClient" />
    <!--Main ProductDB Connection-->
    <add name="ProductData" connectionString="Persist Security Info=False;server=ebes06;database=ProductExportDB;User ID=ProductASP;pwd=psatcudorp;" providerName="System.Data.SqlClient" />
    <!--Read only connection to product db Live for reading program settings and fields.-->
    <add name="ProductDataLiveReadOnly" connectionString="Persist Security Info=False;server=ebes06;database=ProductExportDB;User ID=ProductASP;pwd=psatcudorp;"  providerName="System.Data.SqlClient" />
    <!--needs a new connection string for SSIS, but points to the main DB-->
    <add name="ProductSSIS" connectionString="Persist Security Info=False;server=ebes06;database=ProductExportDB;User ID=ProductASP;pwd=psatcudorp;Provider=SQLNCLI.1;" providerName="System.Data.SqlClient" />
    <!-- DEV AffilinetDB connection-->
    <add name="Affilinet" connectionString="Data Source=172.16.51.70;Initial Catalog=Affilinet;Persist Security Info=True;User ID=AffiliASP;Password=cxv563sb;" providerName="System.Data.SqlClient" />
    <!-- LIVE AffilinetDB connection-->
    <!--<add name="AffilinetConnectionString" connectionString="Data Source=172.16.51.10;Initial Catalog=Affilinet;Persist Security Info=True;User ID=AffiliASP;Password=cxv563sb;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="CsvFilesPath" value="D:\ProdExportFiles\"/>
    <!--Settings for monitor.aspx-->
    <add key="ShopIds" value="376,14,768" />
    <!--DEV Entry-->
    <add key="DownloadURL" value="http://127.0.0.1:82/affilinet_products_{0}_651.csv" />
    <!--LIVE Entry-->
    <!--<add key="DownloadURL" value="http://productdata.download.affili.net/affilinet_products_{0}_651.csv" />-->
    <!--End: Settings for monitor.aspx-->
    <!-- +ve value defines minutes after which export columns config will be loaded from DB, 0 means loaded every time-->
    <add key="AbsoluteExpirationMinutesForExportConfiguration" value="60"/>
  </appSettings>
  <!--Id,ProductTableColumn,ExportCsvColumn,ExportXmlColumn,XmlGroup,ComputedColumns,ColumnsDefault,ColumnValue,IsCalculated,IsDefault,IsActive-->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="*.xml" type="Affilinet.Business.ProductExport.HttpHandlers.ProductExportXmlHttpHandler, Affilinet.Business.ProductExport" />
      <add verb="*" path="*.zip" type="Affilinet.Business.ProductExport.HttpHandlers.ProductExportZIPHttpHandler, Affilinet.Business.ProductExport" />
      <add verb="*" path="*.gz" type="Affilinet.Business.ProductExport.HttpHandlers.ProductExportZIPHttpHandler, Affilinet.Business.ProductExport" />
      <add verb="*" path="*.csv" type="Affilinet.Business.ProductExport.HttpHandlers.ProductExportCSVHttpHandler, Affilinet.Business.ProductExport"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
	<httpRuntime executionTimeout="1200" maxRequestLength="8192" useFullyQualifiedRedirectUrl="true"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
