@{
    ViewBag.Title = "Index";
}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

<h2>home 2</h2>

<div ng-app="">
    <div ng-include="'home  '"></div>
</div>