<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Affili.ProductImport.WinService.Log" formatter="TextFormatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Formatted EventLog TraceListener" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Affilinet.Utility.Logging.DBTraceListener, Affilinet.Utility.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="ReportTraceListener" initializeData="" formatter="Report" />
      <add fileName="d:\Autoimport\Affili.ProductImport.Debug.Trace.Log" footer="&lt;br/&gt;----------------------------------------&lt;br/&gt;"
        formatter="TextFormatter" header="----------------------------------------"
        rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
        timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Rolling Flat File Trace Listener" />
      <add fileName="d:\Autoimport\Affili.ProductImport.Log.XML" footer="&lt;/LogEntry&gt;"
        formatter="XMLFormatter" header="&lt;LogEntry&gt;" rollFileExistsBehavior="Increment"
        rollInterval="Midnight" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Rolling XML Trace Listener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="Report" />
      <add template="Timestamp:  {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="TextFormatter" />
      <add template="&lt;Timestamp&gt; {timestamp(local)}&lt;/Timestamp&gt;&#xD;&#xA;&lt;Message&gt;{message}&lt;/Message&gt;&#xD;&#xA;&lt;Category&gt;{category}&lt;/Category&gt;&#xD;&#xA;&lt;Priority&gt;{priority}&lt;/Priority&gt;&#xD;&#xA;&lt;EventId&gt;{eventid}&lt;/EventId&gt;&#xD;&#xA;&lt;Severity&gt;{severity}&lt;/Severity&gt;&#xD;&#xA;&lt;Title&gt;{title}&lt;/Title&gt;&#xD;&#xA;&lt;Machine&gt;{machine}&lt;/Machine&gt;&#xD;&#xA;&lt;ApplicationDomain&gt;{appDomain}&lt;/ApplicationDomain&gt;&#xD;&#xA;&lt;ProcessId&gt;{processId}&lt;/ProcessId&gt;&#xD;&#xA;&lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;&#xD;&#xA;&lt;Win32ThreadId&gt;{win32ThreadId}&lt;/Win32ThreadId&gt;&#xD;&#xA;&lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;&#xD;&#xA;&lt;ExtendedProperties&gt;{dictionary({key}-{value})}&lt;/ExtendedProperties&gt;"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
        name="XMLFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Critical">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Report">
        <listeners>
          <add name="ReportTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--Dev:ebes06 :: Staging:172.16.51.24 :: Live:172.16.51.20-->
    <!--Currently not in use as 'Cache=MEM'-->
    <!--<add name="LocalCache" connectionString="Data Source=ebes06;Initial Catalog=localCache;Integrated Security=True;User Instance=False"
   providerName="System.Data.SqlClient" />-->
    <!--This string needs to be changed, once we use SQL as local cache and not the memory
   <add name="LocalCacheSSIS" connectionString="Data Source=EBEN99\SQLEXPRESS;Initial Catalog=localCache;Integrated Security=True;User Instance=False;Provider=SQLNCLI.1;"  providerName="" />-->

    <!--Used to perform logging and report logging entries-->
    <add name="Logging" connectionString="Persist Security Info=False;server=ebes06;database=ProductDB;User ID=ProductASP;pwd=psatcudorp;" providerName="System.Data.SqlClient" />
    <!--Main ProductDB Connection-->
    <add name="ProductData" connectionString="Persist Security Info=False;server=ebes06;database=ProductDB;User ID=ProductASP;pwd=psatcudorp;" providerName="System.Data.SqlClient" />
    <!--Read only connection to product db Live for reading program settings and fields.-->
    <add name="ProductDataLiveReadOnly" connectionString="Persist Security Info=False;server=172.16.51.20;database=ProductDB;User ID=ProductASP;pwd=psatcudorp;"  providerName="System.Data.SqlClient" />
    <!--needs a new connection string for SSIS, but points to the main DB-->
    <add name="ProductSSIS" connectionString="Persist Security Info=False;server=ebes06;database=ProductDB;User ID=ProductASP;pwd=psatcudorp;Provider=SQLNCLI.1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--asc/DESC-->
    <add key="ProdProgProcessOrder" value="asc" />

    <!--This setting is important for loading the initial hash cache values + images + categories 
    Currently set to 1 to control load-->
    <add key="ProgsToProcessPerCycle" value="1" />

    <!--Default location where the Sanitized CSV's are saved-->
    <add key="CSVSaveLocation" value="d:\ProdImportCsv\files\" />

    <!--Used in case of CSV date values -->
    <add key="DefDateFormat" value="dd-mm-yyyy" />

    <!--Package name that is processed to load the local cache-->
    <add key="LoadLocalCacheSSIS" value="D:\WinServices\ProductImportServices\PI.LoadLocalCache.dtsx" />

    <!--SSIS Package name that is used to load the images for this program-->
    <add key="LoadImagesSSIS" value="D:\WinServices\ProductImportServices\PI.LoadImages.dtsx" />

    <!--Defines the maximum length of the CSV Line-->
    <add key="MaxCsvLineLength" value="8000" />

    <!--SQL or DATA_TABLE_MEMORY or DICTIONARY_MEMORY-->
    <add key="Cache" value="DICTIONARY_MEMORY" />

    <!--Default decimal separater for decimal values in sanitized CSVs-->
    <add key="AffiliDecimalSep" value="." />

    <!--Culture of the decimal separater-->
    <add key="DefaultDecimalCulture" value="en" />

    <!--0 or 1, depending on if we want to create image hash or not-->
    <add key="GenerateImageHash" value="0" />

    <!--0 or 1, this is used if csvs are already downloaded and available for processing, usually in test scenarios-->
    <add key="SkipDownloadingCsvFiles" value="0" />

    <!--0 or 1,-->
    <add key="DownloadCsvOnlyIfNotPresent" value="0" />

    <!--24 hour format only, This is the time when the import to the DB will begin, thus stopping Sanitization automatically-->
    <add key="ImportStartTime" value="01:00" />

    <!--24 hour format only, This is the time when the import to the DB will end, thus starting Sanitization automatically-->
    <add key="ImportEndTime" value="08:00" />

    <!--SSIS Package to Import Sanitized CSV to DB-->
    <add key="ProductImportSSIS" value="D:\WinServices\ProductImportServices\PI.ProductTasks.dtsx" />

    <!--Once files are imported they will move to this Folder, as a subfolder to CSVSaveLocation -->
    <add key="ImportedFilesFolder" value="ImportedFiles" />

    <!--If due to some failure in SSIS import, the files will move to this Folder, as a subfolder to CSVSaveLocation -->
    <add key="NotImportedFilesFolder" value="NotImportedFiles" />

    <!--Folder where the source CSV from the Advertiser is moved to after successful import-->
    <add key="ArchiveFolder" value="ArchiveFolder" />

    <!--Date Format used to update product program next update-->
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm" />

    <!--Tags for creating the Property XML-->
    <add key="PropertyXmlTag" value="ProductProperty" />
    <add key="PropertyTitleAttrib" value="Title" />
    <add key="PropertyNumberAttrib" value="Number" />
    <add key="PropertyTextAttrib" value="Text" />

    <!--Milliseconds defined for the timer of the Windows Service-->
    <add key="ServiceTimeInervalInMilliSecs" value="1000" />

    <!--Products to be processed in chunks before they are written to csv files, this number must be <= to MaxLinesInCSV-->
    <add key="ProductSetCount" value="10000" />

    <!--Defines the number of products per file type-->
    <add key="MaxLinesInCSV" value="10000" />

    <!--This is a setting that counts the total number if continuos erros on a list, as soon as this number is reached the list of ignored for the day and entries are made in the reportLog-->
    <add key="MaxContinuousErrors" value="1000" />

    <!--Comma seperated list of programs with product lines disributed in multiple lines-->
    <add key="ProgramsWithMultiProductLines" value="144" />

    <!--Number of whole digits in price field of product-->
    <add key="PriceWholeDigits" value="6" />

    <!--Number of precision digits in price field of product-->
    <add key="PricePrecisionDigits" value="2" />

    <!--SSIS Package to insert new images to productImage table and update corresponding products with imageids, afterwords-->
    <add key="ProductImageIdsUpdateSSIS" value="D:\WinServices\ProductImportServices\PI.UpdateImageIds.dtsx" />

	<!--SSIS Package to delete images from productImage table-->
	<add key="ImageImportDeleteImageSSIS" value="D:\WinServices\ProductImportServices\PI.ImageImport.image.delete.csv.dtsx" />

	<!--SSIS Package to update images in productImage table-->
	<add key="ImageImportUpdateImageSSIS" value="D:\WinServices\ProductImportServices\PI.ImageImport.image.update.csv.dtsx" />
    
	<!--NMaximum number of product lines allowed in CSV-->
    <add key="MaxAllowedLinesInSourceCsv" value="1200000" />
    <!--Size of source CSV file, for count line process to start-->
    <add key="PermissibleFileSizeInMB" value="250" />

    <!--No of products after which app should sleep for 30 seconds-->
    <add key="AppSleepProductCount" value="100000" />

    <!--Maximum date that is supported in our system-->
    <add key="MaxDateYear" value="2079" />
  </appSettings>
</configuration>