<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="affilinet.Service.MetaData.MetaDataService"
					 behaviorConfiguration="MetaDataServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/affilinet.Service.MetaData"/>
					</baseAddresses>
				</host>
				<!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/affilinet.Service.MetaData  -->
				<endpoint address=""
									  binding="wsHttpBinding"
									  contract="Affilinet.Business.ServiceMetaData.IMetaDataService" />
				<!-- the mex endpoint is explosed at http://localhost:8000/affilinet.Service.MetaData/mex -->
				<endpoint address="mex"
									  binding="mexHttpBinding"
									  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MetaDataServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>