<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="WcfWinService.MetaDataServices.MetaDataService"
					 behaviorConfiguration="CalculatorServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9010/ProductService"/>
					</baseAddresses>
				</host>
				<!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/ServiceModelSamples/service  -->
				<endpoint address=""
						  binding="netTcpBinding"
						  contract="WcfWinService.MetaDataServices.IMetaDataService" />
				<!-- the mex endpoint is explosed at http://localhost:8000/ServiceModelSamples/service/mex -->
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CalculatorServiceBehavior">
					<serviceMetadata httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>