@model MvcDisplayTemplates.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
aaaaggggeee:@Html.Display("FirstName")<br/>
<br/>
    @Html.DisplayForModel()
<br/>
--------------------------------------------------------------------
<br/>
@Html.EditorForModel()