<!DOCTYPE root[<!ELEMENT News ANY>
<!ATTLIST News id ID #REQUIRED>
 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1053" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-12-01T22:13:11" updateDate="2015-03-04T06:05:53" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="ajit" writerName="ajit" writerID="0" template="1051" nodeTypeAlias="Home" />
  <News id="1063" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-03-04T06:16:59" updateDate="2015-03-04T06:16:59" nodeName="n1" urlName="n1" path="-1,1063" isDoc="" nodeType="1061" creatorName="ajit" writerName="ajit" writerID="0" template="1062" nodeTypeAlias="News" />
</root>