@using Traffective.Tracking.Models
@model Tracking

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TView</title>
</head>
<body>
    <div>
        TView
    </div>
</body>
</html>
