<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral" />
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral" />
	</configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="Debug" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add source="Affili.ProductImport.WinService.Log" formatter="TextFormatter"
			  log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  name="Formatted EventLog TraceListener" />
			<add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  traceOutputOptions="None" filter="All" type="Affilinet.Utility.Logging.DBTraceListener, Affilinet.Utility.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
			  name="ReportTraceListener" initializeData="" formatter="Report" />
			<add fileName="d:\AutoExport\ Affili.ProductExportFileMgmtService.Debug.Trace.Log" footer="&lt;br/&gt;----------------------------------------&lt;br/&gt;"
			  formatter="TextFormatter" header="----------------------------------------"
			  rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="5120"
			  timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  name="Rolling Flat File Trace Listener" />
			<add fileName="d:\ProdExportFiles\LogFiles\Affili.ProductExport.Log.XML" footer="&lt;/LogEntry&gt;"
			  formatter="XMLFormatter" header="&lt;LogEntry&gt;" rollFileExistsBehavior="Increment"
			  rollInterval="Midnight" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd"
			  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  name="Rolling XML Trace Listener" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  name="Report" />
			<add template="Timestamp:  {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  name="TextFormatter" />
			<add template="&lt;Timestamp&gt; {timestamp(local)}&lt;/Timestamp&gt;&#xD;&#xA;&lt;Message&gt;{message}&lt;/Message&gt;&#xD;&#xA;&lt;Category&gt;{category}&lt;/Category&gt;&#xD;&#xA;&lt;Priority&gt;{priority}&lt;/Priority&gt;&#xD;&#xA;&lt;EventId&gt;{eventid}&lt;/EventId&gt;&#xD;&#xA;&lt;Severity&gt;{severity}&lt;/Severity&gt;&#xD;&#xA;&lt;Title&gt;{title}&lt;/Title&gt;&#xD;&#xA;&lt;Machine&gt;{machine}&lt;/Machine&gt;&#xD;&#xA;&lt;ApplicationDomain&gt;{appDomain}&lt;/ApplicationDomain&gt;&#xD;&#xA;&lt;ProcessId&gt;{processId}&lt;/ProcessId&gt;&#xD;&#xA;&lt;ProcessName&gt;{processName}&lt;/ProcessName&gt;&#xD;&#xA;&lt;Win32ThreadId&gt;{win32ThreadId}&lt;/Win32ThreadId&gt;&#xD;&#xA;&lt;ThreadName&gt;{threadName}&lt;/ThreadName&gt;&#xD;&#xA;&lt;ExtendedProperties&gt;{dictionary({key}-{value})}&lt;/ExtendedProperties&gt;"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral"
			  name="XMLFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="Critical">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Debug">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Error">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Information">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Report">
				<listeners>
					<add name="ReportTraceListener" />
				</listeners>
			</add>
			<add switchValue="All" name="Warning">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</notProcessed>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<connectionStrings>
		<!--Used to perform logging and report logging entries-->
		<add name="Logging" connectionString="Persist Security Info=False;server=ebes06;database=ProductDB;User ID=ProductASP;pwd=psatcudorp;" providerName="System.Data.SqlClient" />
		<!--Main ProductDB Connection-->
		<add name="ProductData" connectionString="Persist Security Info=False;server=ebes06;database=ProductExportDB;User ID=ProductASP;pwd=psatcudorp;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<!--Folder where the files for the ExportService should be copied, e.g. local folder; from this folder the ProductExportFileMgmgService will copy the files to the live servers-->
		<add key="ExportFilesLocation" value="\\vebes02\d$\ProdExportCache\" />

		<!--Milliseconds defined for the CleanUp timer of the Windows Service, 300000 equal 5min -->
		<add key="ExportCleanUpTimeInervalInMilliSecs" value="300000" />

		<!--Milliseconds defined for the Copy timer of the Windows Service, 30000 equal 30sec -->
		<add key="ExportCopyTimeInervalInMilliSecs" value="30000" />

		<!--24 hour format only, This is the time when the file clean up should start-->
		<add key="ExportCleanUpStartTime" value="01:00" />

		<!--24 hour format only, This is the time when the file clean up will end-->
		<add key="ExportCleanUpEndTime" value="17:00" />

		<!--Semicolon separeted list with all servers for ProductExport-->
		<!--<add key="ExportServers" value="\\ebes07\\ProdExportFiles\\; \\ebes06\\ProdExportFiles\\; \\ebes09\\ProdExportFiles\\" />-->
		<add key="ExportServers" value="\\ris-server\Productdata-export\" />
		
		<!--Max attempts number to copy the export file to the Export servers, if this number is reached it will stopp the copy attempts for a period-->
		<add key="MaxCopyAttempts" value="10" />

		<!--Timespan in minutes, waiting time for the next attempt to copy the export files to live servers if MaxCopyAttempts is reached-->
		<add key="WaitForCopyExportFiles" value="60" />		
	</appSettings>
	
</configuration>