@{
    ViewBag.Title = "Index";
}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
@*<script src="~/js/ngDialog.js"></script>*@
<link href="~/js/ngDialog.css" rel="stylesheet" />

<h2>Index</h2>

@*<div ng-app="">
    <p>Name: <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p>
    {{5 + 5}}
</div>*@

<div ng-app="myApp" ng-controller="myController">
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}
    {{5 + 5}}
</div>

<script>
    function myController($scope) {
        //var app = angular.module('exampleApp', ['ngDialog']);
        $scope.firstName = "John";
        $scope.lastName = "Doe";

        //ngDialog.open("test dialog");
    }


</script>